
@font-face {
  font-family: 'Nova Regular';
  src: url('../fonts/ProximaNova-Regular.woff');
  src: local('Proxima Nova Black'), local('ProximaNova-Black'),
      url('../fonts/ProximaNova-Regular.woff2') format('woff2'),
      url('../fonts/ProximaNova-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Nova Semibold';
  src: url('../fonts/ProximaNova-Semibold.woff');
  src: local('Proxima Nova Black'), local('ProximaNova-Black'),
      url('../fonts/ProximaNova-Semibold.woff2') format('woff2'),
      url('../fonts/ProximaNova-Semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Nova Bold';
  src: url('../fonts/ProximaNova-Bold.woff');
  src: local('Proxima Nova Black'), local('ProximaNova-Black'),
      url('../fonts/ProximaNova-Bold.woff2') format('woff2'),
      url('../fonts/ProximaNova-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway Medium';
  src: url('../fonts/Raleway-Medium.ttf');
  src: local('Raleway Black'), local('Raleway-Black'),
      url('../fonts/Raleway-Medium.ttf') format('ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway SemiBold';
  src: url('../fonts/Raleway-SemiBold.ttf');
  src: local('PRaleway Black'), local('Raleway-Black'),
      url('../fonts/Raleway-SemiBold.ttf') format('ttf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway ExtraBold';
  src: url('../fonts/Raleway-ExtraBold.ttf');
  src: local('Raleway Black'), local('Raleway-Black'),
      url('../fonts/Raleway-ExtraBold.ttf') format('ttf');
  font-weight: 800;
  font-style: normal;
}
